.profile {
    width: 63%;
    margin: 120px auto 0 auto;
}

.profile__gridBox {
    display: grid;
    width: 100%;
    grid-template-columns: 320px 844px;
    column-gap: 60px;
    grid-template-areas:
    "nav inputs";
}

.profile__navigation {
    display: flex;
    flex-direction: column;
    grid-area: nav;
}

.profile_text {
    opacity: .4;
}

.profile__links {
    text-decoration: none;
}

.activeStyle {
    color: white;
}