.profile__inputs {
    grid-area: inputs;
    max-width: 480px;
}

.profile__box,
.profile__box div:not(profile__box) {
    width: 100%;
    position: relative;
}

.profile__image {
    width: 24px;
    position: absolute;
    top: -45px;
    right: -430px;
    cursor: pointer;
}

.profile__container {
    display: flex;
    justify-content: right;
    align-items: center;
}