.resetPassword {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetPassword__container {
    width: 480px;
}

.resetPassword__title {
    text-align: center;
}

.resetPassword__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resetPassword__input,
.resetPassword__input div:not(resetPassword__input) {
    width: 100%;
    position: relative;
}

.resetPassword__text {
    color: #8585AD;
}

.resetPassword__link {
    text-decoration: none;
    color: #4c4cff;
}

.resetPassword__image {
    width: 24px;
    position: absolute;
    top: -45px;
    right: -430px;
}