.ingredientsDetails__title {
    width: 80.55%;
}

.ingredientsDetails__image {
    width: 480px;
    height: 240px;
}

.ingredientsDetails__box {
    width: 72.22%;
    display: flex;
    justify-content: space-between;
}

.ingredientsDetails__boxBtn {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 50px;
    cursor: pointer;
}