.forgotPassword {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword__container {
    width: 480px;
}

.forgotPassword__title {
    text-align: center;
}

.forgotPassword__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPassword__input,
.forgotPassword__input div:not(forgotPassword__input) {
    width: 100%;
    position: relative;
}

.forgotPassword__text {
    color: #8585AD;
}

.forgotPassword__link {
    text-decoration: none;
    color: #4c4cff;
}