.burgersMenu__flexBox {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    cursor: grab;
}

.burgersMenu__image {
    margin: 0 auto 0 auto;
    max-width: 240px;
    max-height: 120px;
    object-fit: contain;
}

.burgersMenu__miniFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgersMenu__text_position {
    text-align: center;
}

.burgersMenu__active {
    border: 2px solid #4c4cff;
    border-radius: 10px;
}